 .hover-link:hover {
     background-color: rgba(255, 255, 255, 0.1);
     color: #fff !important;
     border-radius: 5px;
 }

 .border-dashed {
     border-style: dashed !important;
     border-color: #dee2e6 !important;
 }

 .cursor-pointer {
     cursor: pointer;
 }